# Конфигурация вьювера табеля.
# Файл должен лежать рядом с tabviewer.exe.

# Базовый URL сервера mettem (без завершающего '/')
server=http://192.168.1.242:8080

# Домен, добавляемый к логину при входе: login@mettem.com
email_domain=mettem.com